.footer-container {
  padding: 80px 64px 32px;
}
.footer .logo {
  width: 265px;
  margin-bottom: 64px;
}
.footer-links {
  margin-bottom: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px 22px;
}
.footer-links-item {
  width: 200px;
}
.footer-links-item h6 {
  margin-bottom: 24px;
}
.footer-links-item a {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  color: #232323;
  display: block;
}
.footer-links-item a:not(:last-of-type) {
  margin-bottom: 16px;
}
.footer h6 {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: rgba(35, 35, 35, 0.8);
}
.footer .footer-logos {
  margin-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer .footer-logos-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer .footer-logos-item {
  padding: 10px 34px;
  opacity: 0.4;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.footer .footer-social {
  margin-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.footer .footer-social a {
  width: 24px;
  height: 24px;
}
.footer-info {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom: 32px;
  border-top: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1019607843);
}
.footer-info p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(35, 35, 35, 0.8);
  opacity: 0.8;
}
.footer-info p:not(:last-of-type) {
  margin-bottom: 21px;
}
.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer-bottom a,
.footer-bottom p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  opacity: 0.8;
  color: rgba(35, 35, 35, 0.8);
}
.footer-privacy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

@media (max-width: 1024px) {
  .footer-container {
    padding: 64px 20px 32px;
  }
  .footer .logo {
    margin-bottom: 40px;
  }
  .footer-links {
    margin-bottom: 40px;
  }
  .footer-logos {
    margin-bottom: 40px;
  }
  .footer-info {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
}