@import url(../css/base.css);
@import url(../css/fonts.css);
:root {
  --trans: all 0.35s ease-in-out;
  --color_dark: #453526;
  --color_lite: #ece5db;
}

.sect_hero {
  padding-top: 64px;
  padding-bottom: 80px;
}
.sect_hero .flex2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.sect_hero .left {
  width: 100%;
  max-width: 450px;
}
.sect_hero .left h5 {
  color: var(--Text_Dark, #232323);
  font-family: "IBM Plex Mono";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 15.4px */
  letter-spacing: 0.14px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.sect_hero .left h1 {
  color: var(--Text_Dark, #232323);
  font-size: 78px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 78px */
  margin-bottom: 24px;
}
.sect_hero .left p {
  color: var(--text-dark-80, rgba(35, 35, 35, 0.8));
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  margin-bottom: 40px;
}
.sect_hero .left .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.sect2 {
  padding-block: 40px;
}
.sect2 .grid4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 70px;
}
.sect2 .grid4 li {
  display: flex;
  align-items: center;
  gap: 16px;
}
.sect2 .grid4 h3 {
  color: var(--Text_Dark, #232323);
  text-wrap: nowrap;
  font-family: "IBM Plex Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  text-transform: uppercase;
}

.sect_feat {
  padding-block: 80px;
}
.sect_feat .btn_red {
  margin: 40px auto 0px;
}
.sect_feat .box {
  background: var(--Grey, #ebebeb);
  padding: 64px;
  overflow: hidden;
}
.sect_feat .subtitle {
  color: var(--text-dark-80, rgba(35, 35, 35, 0.8));
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  max-width: 550px;
  margin: 24px auto 40px;
}
.sect_feat .grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  align-items: center;
}
.sect_feat .left,
.sect_feat .right {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}
.sect_feat .card {
  display: flex;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  border: 1px solid var(--btn_grey, #d5d5d5);
}
.sect_feat .card h3 {
  color: var(--Text_Dark, #232323);
  /* Text_XL-Semi */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 30px */
}
.sect_feat .card p {
  color: var(--text-dark-80, rgba(35, 35, 35, 0.8));
  /* Text_S */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}
.sect_feat .card.card_active {
  background: #fff;
  border: none;
  box-shadow: 0px 23px 33.2px 0px rgba(0, 0, 0, 0.1);
}
.sect_feat .feat-mobile {
  width: calc(100% + 12px);
  display: none;
}
.sect_feat .swiper-slide {
  width: 310px;
}

.sect_tabs {
  padding-block: 80px;
}
.sect_tabs .btn_trans {
  margin: 20px auto 0px;
}
.sect_tabs .subtitle {
  color: var(--text-dark-80, rgba(35, 35, 35, 0.8));
  text-align: center;
  /* Text */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  max-width: 620px;
  margin: 24px auto 64px;
}

.tab-container {
  overflow: hidden;
}
.tab-container .tabs-scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  border-radius: 100px;
  border: 1px solid var(--btn_grey, #d5d5d5);
  padding: 4px;
  width: fit-content;
  margin: 0px auto 40px;
  gap: 10px;
}
.tab-container .tabs-scroll::-webkit-scrollbar {
  display: none;
}

.tab-btn {
  padding: 14px 32px;
  background-color: transparent;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.3s ease;
  color: #232323;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.tab-btn.active {
  background-color: #232323;
  color: white;
}
.tab-btn:hover:not(.active) {
  background-color: #e0e0e0;
}

.tab-content {
  display: block;
}
.tab-content.hidden {
  display: none;
}

.currency-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
@media (max-width: 1220px) {
  .currency-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 800px) {
  .currency-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 550px) {
  .currency-grid {
    grid-template-columns: 1fr;
  }
}

.currency-card {
  background: var(--Background_White, #fff);
  display: flex;
  flex-direction: column;
}
.currency-card .flag-container {
  display: flex;
  position: relative;
  border-bottom: 1px solid var(--Grey, #ebebeb);
}
.currency-card .flag-container img {
  border-radius: 4px;
  width: 100px;
  height: 65px;
  box-shadow: 0px 23px 33.2px 0px rgba(0, 0, 0, 0.1);
}
.currency-card .flag-container .flag1 {
  z-index: 1;
  margin-left: 65px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.currency-card .flag-container .flag2 {
  z-index: 2;
  position: absolute;
  top: 38px;
  left: 140px;
}
.currency-card .currenc_info {
  display: flex;
  padding: 16px;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  align-self: stretch;
}
.currency-card .currenc_info .top,
.currency-card .currenc_info .bot {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
.currency-card .currenc_info .currency-pair {
  color: var(--Text_Dark, #232323);
  /* Text_L-Medium */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
}
.currency-card .currenc_info .currency-val {
  color: var(--Text_Dark, #232323);
  /* Text_L-Medium */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
}
.currency-card .currenc_info .price-sub {
  color: var(--text-dark-80, rgba(35, 35, 35, 0.8));
  /* Text */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.currency-card .price-change {
  font-size: 0.85em;
}
.currency-card .price-change.negative {
  color: red;
}
.currency-card .price-change.positive {
  color: green;
}

.sect_acc {
  padding-block: 80px;
}
.sect_acc .subtitle {
  color: var(--text-dark-80, rgba(35, 35, 35, 0.8));
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.sect_acc .grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  margin-top: 64px;
}
.sect_acc .card_acc {
  background: var(--Background_White, #fff);
}
.sect_acc .card_acc .right {
  display: none;
}
.sect_acc .card_acc .right span {
  color: var(--Text_White, #fff);
  text-align: right;
  font-family: "IBM Plex Mono";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 15.4px */
  letter-spacing: 0.14px;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 4.5px 8px;
  border: 1px solid var(--Red, #fe0100);
  background: rgba(254, 1, 0, 0.1);
}
.sect_acc .card_acc.black {
  background: #232323;
}
.sect_acc .card_acc.black h3,
.sect_acc .card_acc.black h4,
.sect_acc .card_acc.black h5,
.sect_acc .card_acc.black p {
  color: white !important;
}
.sect_acc .card_acc.black .right {
  display: block;
}
.sect_acc .card_acc .head {
  padding: 32px 32px 24px 32px;
  border-bottom: 1px solid #ebebeb;
  display: flex;
  justify-content: space-between;
}
.sect_acc .card_acc .head h3 {
  color: var(--Text_Dark, #232323);
  /* H3 */
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 46.8px */
  margin-bottom: 8px;
}
.sect_acc .card_acc .head h5 {
  color: var(--text-dark-80, rgba(35, 35, 35, 0.8));
  /* Text */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.sect_acc .card_acc .body {
  display: flex;
  padding: 24px 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  border-bottom: 1px solid #ebebeb;
}
.sect_acc .card_acc .body h4 {
  color: var(--Text_Dark, #232323);
  /* Text_XL-Semi */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 30px */
}
.sect_acc .card_acc .body p {
  color: var(--text-dark-80, rgba(35, 35, 35, 0.8));
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  opacity: 0.8;
  margin-bottom: 8px;
}
.sect_acc .card_acc .btn_black,
.sect_acc .card_acc .btn_white {
  margin: 24px auto 32px;
}

.sect_trade {
  padding-block: 80px;
}
.sect_trade .subtitle {
  color: var(--text-dark-80, rgba(35, 35, 35, 0.8));
  text-align: center;
  /* Text */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  max-width: 540px;
  margin: 24px auto 64px;
}
.sect_trade .grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 64px;
  margin-bottom: 64px;
  align-items: center;
}
.sect_trade .left {
  max-width: 570px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
}
.sect_trade .left h5 {
  color: var(--Text_Dark, #232323);
  /* Tag_S */
  font-family: "IBM Plex Mono";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 15.4px */
  letter-spacing: 0.14px;
  text-transform: uppercase;
}
.sect_trade .left h2 {
  color: var(--Text_Dark, #232323);
  /* H2 */
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 52.8px */
}
.sect_trade .left p {
  color: var(--text-dark-80, rgba(35, 35, 35, 0.8));
  /* Text */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  max-width: 460px;
}
.sect_trade .left h4 {
  color: var(--Text_Dark, #232323);
  /* Text_L-Medium */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
  border-left: 2px solid var(--Red, #fe0100);
  padding-left: 12px;
}
.sect_trade .left .btn_trans {
  margin-top: 40px;
  padding-left: 0px;
}
.sect_trade .left .btn_trans .icon_btn {
  transition: var(--trans);
}
.sect_trade .left .btn_trans:hover {
  background: none;
  color: #232323;
  border: 1px solid transparent;
}
.sect_trade .left .btn_trans:hover .icon_btn {
  transform: translateX(20px);
}

.sect_plan {
  padding-block: 80px;
}
.sect_plan .btn_red {
  margin: 0 auto;
}
.sect_plan .flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-top: 64px;
  margin-bottom: 64px;
  position: relative;
  max-width: 994px;
  margin-right: auto;
  margin-left: auto;
}
.sect_plan .line1,
.sect_plan .line2 {
  position: absolute;
  width: 210px;
  border-bottom: 1px dashed #d5d5d5;
  top: 40px;
}
.sect_plan .line1 {
  left: 220px;
}
.sect_plan .line2 {
  right: 220px;
}
.sect_plan li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.sect_plan .image {
  display: flex;
  width: 80px;
  height: 80px;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  aspect-ratio: 1/1;
  background: var(--Background_White, #fff);
  margin-bottom: 24px;
}
.sect_plan .image.dark {
  background: var(--Background_Dark, #232323) !important;
}
.sect_plan h3 {
  color: var(--Text_Dark, #232323);
  text-align: center;
  /* Text_L-Medium */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 28px */
  margin-bottom: 16px;
}
.sect_plan p {
  color: var(--text-dark-80, rgba(35, 35, 35, 0.8));
  text-align: center;
  /* Text_S */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  max-width: 210px;
}

.mob {
  display: none;
}

@media (max-width: 1400px) {
  .sect2 .grid4 {
    overflow: hidden;
  }
}
@media (max-width: 1020px) {
  .sect_hero .desk {
    display: none !important;
  }
  .sect_hero .mob {
    display: flex !important;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .sect_hero .flex2 {
    flex-direction: column;
    text-align: center;
  }
  .sect_hero .left p {
    margin-bottom: 0px;
  }
  .sect_hero .left h1 {
    font-size: 64px;
  }
  .sect_hero {
    padding-block: 64px;
  }
  .sect_feat {
    padding-block: 40px;
  }
  .sect_feat .card {
    padding: 16px;
  }
  .sect_feat .feat-mobile {
    display: block;
  }
  .sect_feat .box {
    padding: 32px 12px;
  }
  .sect_feat .left,
  .sect_feat .right {
    display: none;
  }
  .sect_feat .grid3 {
    grid-template-columns: 1fr;
  }
  .sect_feat .grid3 img {
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;
  }
  .tab-container {
    overflow-x: scroll;
  }
  .tab-container .tabs-scroll {
    margin-bottom: 5px;
  }
  .tab-content {
    margin-top: 40px;
  }
  .sect_tabs {
    padding-block: 40px;
  }
  .sect_acc .grid3 {
    grid-template-columns: 1fr 1fr;
  }
  .sect_trade .grid2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .sect_trade .grid2.rev {
    flex-direction: column-reverse;
  }
  .sect_acc {
    padding-block: 40px;
  }
  .sect_trade {
    padding-block: 40px;
  }
  .sect_trade .left h2 {
    color: var(--Text_Dark, #232323);
    /* H2 - Mobile */
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 39.6px */
  }
  .sect_trade .left .btn_trans {
    margin-top: 16px;
  }
  .sect_plan .flex {
    flex-direction: column;
    gap: 64px;
  }
  .sect_plan .flex li {
    background: var(--White_BG, #fff);
    padding: 16px;
    width: fit-content;
  }
  .sect_plan .line1,
  .sect_plan .line2 {
    left: 50%;
    transform: translateX(-50%);
    top: 116px;
    height: 64px;
    width: 1px;
    border-right: 1px dashed #d5d5d5;
    border-bottom: 1px dashed transparent;
  }
  .sect_plan .line2 {
    top: auto;
    bottom: 116px;
  }
  .sect_plan {
    padding-block: 40px;
  }
  .sect_plan li {
    flex-direction: row;
    align-items: center;
  }
  .sect_plan .image {
    margin-bottom: 0px;
  }
}
@media (max-width: 700px) {
  .sect_trade .title_big,
  .sect_plan .title_big {
    font-size: 36px;
    max-width: 250px;
    margin-right: auto;
    margin-left: auto;
  }
  .sect_acc .grid3 {
    grid-template-columns: 1fr;
  }
}
.cta-section {
  padding: 80px 0;
}
.cta-section .cta-block {
  background-color: #232323;
  box-shadow: 0px 23px 33.2px 0px rgba(0, 0, 0, 0.1019607843);
  width: 100%;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}
.cta-section .cta-content {
  padding: 64px;
  flex: 1;
}
.cta-section .cta-content .cta-head {
  margin-bottom: 40px;
  max-width: 665px;
}
.cta-section .cta-content h2 {
  font-family: "Inter";
  font-weight: 700;
  font-size: 48px;
  line-height: 110%;
  letter-spacing: 0%;
  color: #fff;
}
.cta-section .cta-content h2 .grey-text {
  color: rgba(255, 255, 255, 0.6);
}
.cta-section .cta-content p {
  margin-top: 24px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.8);
}
.cta-section .cta-content form {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.cta-section .cta-content form input {
  padding: 13px 16px;
  max-width: 320px;
  min-width: 300px;
  border: 1px solid rgba(235, 235, 235, 0.3019607843);
  border-radius: 4px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.8);
  background-color: transparent;
}
.cta-section .cta-photo {
  width: 445px;
  border-left: 1px dashed rgba(255, 255, 255, 0.1019607843);
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1019607843);
}
.cta-section .cta-photo img {
  height: 100%;
  object-fit: contain;
}

.overview-section {
  padding: 80px 0;
}
.overview-section h2 {
  margin-bottom: 24px;
}
.overview-section .subtitle {
  margin-bottom: 64px;
  max-width: 512px;
}
.overview-section .overview-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.overview-section .overview-mobile {
  display: none;
}
.overview-section .overview-mobile .swiper-wrapper {
  margin-left: 20px;
}
.overview-section .overview-mobile .swiper-slide {
  width: 310px;
}
.overview-section .overview-mobile .swiper-slide .overview-item:not(:last-child) {
  margin-bottom: 24px;
}

.overview-item {
  width: 310px;
  padding: 24px;
  background-color: #fff;
  transition: var(--trans);
}
.overview-item:hover {
  box-shadow: 0px 23px 33.2px 0px rgba(0, 0, 0, 0.1019607843);
}
.overview-item-num {
  font-family: "Inter";
  font-weight: 300;
  font-size: 72px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #232323;
  margin-bottom: 32px;
}
.overview-item-text {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: rgba(35, 35, 35, 0.8);
}

.subtitle {
  margin: 0 auto;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(35, 35, 35, 0.8);
}

.swiper {
  overflow: hidden;
  position: relative;
}
.swiper-wrapper {
  width: 100%;
  margin-bottom: 40px;
}
.swiper-navigation {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.swiper-button-prev, .swiper-button-next, .swiper-pagination {
  position: unset;
  width: fit-content !important;
  margin-top: 0;
}
.swiper-button-prev::after, .swiper-button-next::after, .swiper-pagination::after {
  content: none;
}
.swiper-button-prev, .swiper-button-next {
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  transition: var(--trans);
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #d9d9d9;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #363636;
}

.promotions-section {
  padding: 80px 0;
}
.promotions-section h2 {
  margin-bottom: 24px;
}
.promotions-section .subtitle {
  margin-bottom: 64px;
}
.promotions-section .promotions-content {
  display: flex;
  gap: 24px;
}
.promotions-section .promotions-content .left,
.promotions-section .promotions-content .right {
  flex: 1;
}
.promotions-section .promotions-item {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}
.promotions-section .promotions-item::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(8, 8, 8, 0.3) 43.16%, #080808 100%), url(../img/promotion.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: var(--trans);
  z-index: -1;
}
.promotions-section .promotions-item:hover::before {
  transform: scale(1.05);
}
.promotions-section .promotions-item.big {
  padding-top: 64px;
  height: 100%;
}
.promotions-section .promotions-item:not(.big) {
  height: 360px;
}
.promotions-section .promotions-item:not(:last-child) {
  margin-bottom: 32px;
}
.promotions-section .promotions-item-label {
  font-family: "IBM Plex Mono";
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #fff;
}
.promotions-section .promotions-item-info {
  max-width: 446px;
}
.promotions-section .promotions-item-info h4 {
  margin-bottom: 16px;
  max-width: 407px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #fff;
}
.promotions-section .promotions-item-info p {
  margin-bottom: 24px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.8);
}
.promotions-section .promotions-item-info .btn_trans {
  display: none;
  color: #fff;
  padding-left: 0;
}

.insights-section {
  padding: 80px 0;
}
.insights-section h2 {
  margin-bottom: 64px;
}
.insights-section .insights-card {
  max-width: 421px;
  display: block;
}
.insights-section .insights-card:hover img {
  transform: scale(1.2);
}
.insights-section .insights-card-photo {
  width: 100%;
  height: 240px;
  margin-bottom: 24px;
  overflow: hidden;
}
.insights-section .insights-card-photo img {
  object-fit: cover;
  height: 100%;
  transition: var(--trans);
}
.insights-section .insights-card-info p {
  margin-bottom: 16px;
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #232323;
}
.insights-section .insights-card-info h4 {
  max-width: 397px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #232323;
}
.insights-section .swiper-slide {
  max-width: 421px;
  min-width: 310px;
  width: calc((100% - 88px) / 3);
}
.insights-section .btn_black {
  margin: 24px auto 0;
  min-width: 120px;
}

.glob-section {
  padding: 80px 0;
  overflow: hidden;
}
.glob-section h2 {
  margin-bottom: 24px;
}
.glob-section .subtitle {
  margin-bottom: 64px;
}
.glob-section .glob-map {
  width: 100%;
  height: auto;
  margin-bottom: 64px;
  display: flex;
  justify-content: center;
}
.glob-section .glob-map:hover img {
  transform: scale(1.03);
}
.glob-section .glob-map img {
  min-width: 450px;
  transition: var(--trans);
}
.glob-section .glob-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.glob-section .glob-mobile {
  display: none;
}
.glob-section .glob-mobile .swiper-wrapper {
  margin-left: 20px;
}
.glob-section .glob-mobile .swiper-slide {
  width: 310px;
}
.glob-section .glob-mobile .swiper-slide .overview-item:not(:last-child) {
  margin-bottom: 24px;
}

.leaders-section {
  padding: 80px 0;
}
.leaders-section h2 {
  max-width: 668px;
  margin: 0 auto 24px;
}
.leaders-section .subtitle {
  margin-bottom: 64px;
  max-width: 550px;
}
.leaders-section .leaders-card {
  width: min(670px, 100%);
  padding: 48px;
  background-color: #fff;
  box-shadow: 0px 23px 33.2px 0px rgba(0, 0, 0, 0.1019607843);
}
.leaders-section .leaders-card-quote {
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0%;
  color: #232323;
  margin-bottom: 40px;
}
.leaders-section .leaders-card .red-text {
  color: #fe0100;
}
.leaders-section .leaders-card-name {
  margin-bottom: 4px;
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: rgba(35, 35, 35, 0.8);
}
.leaders-section .leaders-card-position {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
  color: rgba(35, 35, 35, 0.8);
}

.swiper-blur {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.swiper-blur .swiper-slide {
  transition: var(--trans);
  transform: scale(0.8);
  filter: blur(4px);
  opacity: 0.5;
  width: min(670px, 100% - 40px);
}
.swiper-blur .swiper-slide-active {
  transform: scale(1);
  filter: none;
  opacity: 1;
  z-index: 10;
}
.swiper-blur .swiper-slide-prev, .swiper-blur .swiper-slidenext {
  transform: scale(0.9);
  filter: blur(2px);
  opacity: 0.7;
}
.swiper-blur .active-slide {
  transform: scale(1);
  filter: none;
  opacity: 1;
  z-index: 10;
}
.swiper-blur .prev-slide,
.swiper-blur .next-slide {
  transform: scale(0.9);
  filter: blur(2px);
  opacity: 0.7;
}
.swiper-blur .swiper-wrapper {
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}
.swiper-blur .swiper-navigation {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.swiper-blur .swiper-button-prev,
.swiper-blur .swiper-button-next,
.swiper-blur .swiper-pagination {
  position: unset;
  width: fit-content !important;
  margin-top: 0;
}
.swiper-blur .swiper-button-prev::after,
.swiper-blur .swiper-button-next::after,
.swiper-blur .swiper-pagination::after {
  content: none;
}
.swiper-blur .swiper-button-prev,
.swiper-blur .swiper-button-next {
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  transition: var(--trans);
}
.swiper-blur .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #d9d9d9;
  opacity: 1;
}
.swiper-blur .swiper-pagination-bullet-active {
  background-color: #363636;
}

.breadcrumbs-section {
  padding: 24px 0;
}
.breadcrumbs-section .breadcrumbs {
  display: flex;
  gap: 8px;
}
.breadcrumbs-section .breadcrumb, .breadcrumbs-section .slash {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 14px;
  line-height: 110%;
  letter-spacing: 1%;
  text-transform: uppercase;
  color: rgba(35, 35, 35, 0.8);
}
.breadcrumbs-section .breadcrumb:last-child {
  color: #FE0100;
}

@media (max-width: 1020px) {
  .leaders-section {
    padding: 64px 0;
  }
  .leaders-section h2 {
    font-weight: 600;
    font-size: 36px;
  }
  .leaders-section .subtitle {
    margin-bottom: 40px;
  }
  .leaders-section .leaders-card {
    padding: 24px;
  }
  .cta-section {
    padding: 64px 0;
  }
  .cta-section .cta-block {
    gap: 0;
  }
  .cta-section .cta-content {
    padding: 24px;
  }
  .cta-section .cta-content h2 {
    font-weight: 600;
    font-size: 36px;
  }
  .cta-section .cta-content p {
    margin-top: 32px;
  }
  .cta-section .cta-content .btn_red {
    width: 100%;
  }
  .overview-section {
    padding: 64px 0;
  }
  .overview-section h2 {
    font-weight: 600;
    font-size: 36px;
  }
  .overview-section .subtitle {
    margin-bottom: 40px;
  }
  .overview-section .overview-desktop {
    display: none;
  }
  .overview-section .overview-mobile {
    display: block;
  }
  .promotions-section {
    padding: 64px 0;
  }
  .promotions-section h2 {
    font-weight: 600;
    font-size: 36px;
  }
  .promotions-section .subtitle {
    margin-bottom: 40px;
  }
  .promotions-section .promotions-content {
    flex-direction: column;
  }
  .promotions-section .promotions-item {
    padding: 24px;
  }
  .promotions-section .promotions-item.big {
    padding-top: 24px;
    height: 380px;
  }
  .promotions-section .promotions-item:not(.big) {
    height: 310px;
  }
  .promotions-section .promotions-item:not(:last-child) {
    margin-bottom: 24px;
  }
  .promotions-section .promotions-item-info h4 {
    font-size: 24px;
    line-height: 120%;
  }
  .promotions-section .promotions-item-info p {
    display: none;
  }
  .promotions-section .promotions-item-info .btn_red {
    display: none;
  }
  .promotions-section .promotions-item-info .btn_trans {
    display: flex;
  }
  .insights-section {
    padding: 64px 0;
  }
  .insights-section h2 {
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 36px;
  }
  .insights-section .swiper-slide {
    width: min(421px, 100%);
  }
  .insights-section .insights-card {
    width: min(421px, 100%);
  }
  .insights-section .insights-card-photo {
    height: 200px;
  }
  .insights-section .btn_black {
    display: none;
  }
  .glob-section {
    padding: 64px 0;
  }
  .glob-section h2 {
    font-weight: 600;
    font-size: 36px;
  }
  .glob-section .subtitle {
    margin-bottom: 40px;
  }
  .glob-section .glob-map {
    margin-bottom: 40px;
  }
  .glob-section .glob-desktop {
    display: none;
  }
  .glob-section .glob-mobile {
    display: block;
  }
}
@media (max-width: 950px) {
  .cta-section .cta-block {
    flex-direction: column-reverse;
  }
  .cta-section .cta-photo {
    width: 100%;
    height: 260px;
  }
  .swipers {
    overflow: hidden;
  }
}